header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 32px;

    & nav {
        display: flex;
        align-items: center;
        gap: 8px;

        & h2 {
            font-size: var(--h2);
            line-height: 16px;
        }
    }
}